In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [14]:
'''
1.
Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ Ï∂úÎ†•ÌïòÎùº (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)
'''
list(df.groupby("channelTitle").count().sort_values("title", ascending=False).head(10).index)

['Ïß§Ìà∞',
 'ÌååÎøåÎ¶¨',
 'SPOTV',
 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê',
 'Ïû•ÏÇêÏ≠à',
 'BANGTANTV',
 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº',
 'Ïù¥Í≥ºÏû•',
 'Ï¥ùÎ™áÎ™Ö']

In [4]:
'''
2.
ÎÖºÎûÄÏúºÎ°ú Ïù∏Í∏∞ÎèôÏòÅÏÉÅÏù¥ Îêú ÏºÄÏù¥Ïä§Î•º ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. 
dislikesÏàòÍ∞Ä like ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº
'''
list(df[df["dislikes"] > df["likes"]]["channelTitle"].unique())

['Ìï´ÎèÑÍ∑∏TV',
 'ASMR Ïï†Ï†ïTV',
 'ÌïòÏñÄÌä∏Î¶¨HayanTree',
 'ÏñëÌå° YangPang',
 'Ï≤†Íµ¨Ìòï (CHULTUBE)',
 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§',
 '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä',
 'Ïò§Î©îÌÇ¥TV',
 'Ïú°ÏßÄÎã¥',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà',
 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO',
 'Gen.G esports']

In [5]:
'''
3.
Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. 
channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
'''
ans3 = list()
channelId_uniqueness = df.groupby("channelId")["channelTitle"].nunique()
print(type(channelId_uniqueness))
for index, value in zip(channelId_uniqueness.index, channelId_uniqueness):
    if (value == 1):
        continue
    ans3.append(index)

len(ans3)

<class 'pandas.core.series.Series'>

71

In [26]:
'''
4.
ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§Ï§ë Í∞ÄÏû•ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?
'''
df["trending_date_new"] = pd.to_datetime(df["trending_date2"])
# df[df["trending_date_new"].dt.day_name() == "Sunday"].groupby("categoryId").count().sort_values("title", ascending=False).index[0]
# print(df[df["trending_date_new"].dt.day_name() == "Sunday"].categoryId.head())
df[df["trending_date_new"].dt.day_name() == "Sunday"].categoryId.value_counts().index[0]

400    24
401    22
402    10
403    24
404    24
Name: categoryId, dtype: int64

24

In [27]:
'''
5.
Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞ú Ïî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº
'''
df5 = df[["trending_date_new", "categoryId"]].copy()
df5_new = pd.DataFrame()
day_list = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for day in day_list:
    df5_new[day] = df5[df5["trending_date_new"].dt.day_name() == day].groupby("categoryId").size()

df5_new

            Sunday  Monday  Tuesday  Wednesday  Thursday  Friday  Saturday
categoryId
1              274     263      257        234       246     243       255
2               99     105      119        129       128     120       119
10             830     837      894        917       890     833       776
15             217     215      208        207       207     187       198
17             636     668      708        706       682     633       592
19              91      92       89         85        92      90        87
20             289     298      285        291       282     283       296
22            1337    1373     1375       1333      1341    1288      1289
23             556     594      569        566       560     568       570
24            3096    3148     3084       3090      2954    2976      3066
25             437     453      452        468       470     444       422
26             363     378      394        385       375     369       364
27             199     205      194        212       194     183       183
28             167     160      161        165       166     171       173
29               9      10       11         12        13      12        10

In [33]:
# 5 ÎãµÏïà
group = df.groupby([df['trending_date_new'].dt.day_name(),'categoryId'],as_index=False).size()
#group
answer= group.pivot(index='categoryId',columns='trending_date_new')
display(answer)

                    size
trending_date_new Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                    243    263      255    274      246     257       234
2                    120    105      119     99      128     119       129
10                   833    837      776    830      890     894       917
15                   187    215      198    217      207     208       207
17                   633    668      592    636      682     708       706
19                    90     92       87     91       92      89        85
20                   283    298      296    289      282     285       291
22                  1288   1373     1289   1337     1341    1375      1333
23                   568    594      570    556      560     569       566
24                  2976   3148     3066   3096     2954    3084      3090
25                   444    453      422    437      470     452       468
26                   369    378      364    363      375     394       385
27                   183    205      183    199      194     194       212
28                   171    160      173    167      166     161       165
29                    12     10       10      9       13      11        12

In [35]:
''' 
6. 
ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. 
viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº 
(view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)
'''
df6 = df[df["view_count"] > 0].copy()
df6["ans6"] = df6["comment_count"]/df6["view_count"]
df6_1 = df6.sort_values("ans6", ascending=False)
df6_1.iloc[0]["title"]

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

In [38]:
''' 
7.
ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§.
viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº 
(view_counts, ratioÍ∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§.)
'''
df6_2 = df6[df6["ans6"] != 0].copy()
df6_2 = df6_2.sort_values("ans6")
df6_2.iloc[0]["title"]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [121]:
''' 
8.
like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? 
(like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)
'''
df8 = df[(df["likes"] != 0) & (df["dislikes"] != 0)].copy()
df8["ans8"] = df8["dislikes"] / df8["likes"]
df8.sort_values("ans8").iloc[0]["title"]

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [46]:
''' 
9.
Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? 
(ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)
'''
print(df.groupby("channelTitle").size().sort_values(ascending=False).index[0])
print(df.channelTitle.value_counts().index[0])

Ïß§Ìà∞
Ïß§Ìà∞

In [56]:
''' 
10.
20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?
'''
# Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÏÑùÌï† ÎïåÎäî, Í≥†Ïú†Í∞í(Ïó¨Í∏∞ÏÑúÎäî channelId)ÏùÑ Ìï≠ÏÉÅ Î∂ôÏó¨ÏÑú Í¥ÄÎ¶¨Ìï† Í≤É
srs10 = df[["title", "channelId"]].value_counts()
srs10[srs10 >= 20].size

40

In [151]:
#Ïù¥Í≤åÏ†ïÎãµÏù¥Í∏¥Ìï®
answer= (df[['title','channelId']].value_counts()>=20).sum()
answer

40